
.event section.top {
  background-image: url('../../asset/image/25.jpg');
  background-color: #242424;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 100%;
  height: 300px;
  
}
.event section.top::before{
    content: '';
    background-color: rgb(31, 30, 30);
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.event section.top div{
  position: absolute;
  left: 50%;
  z-index: 99;
  width: 100%;
  margin: 85px 0;
  margin-left: -50%;
  text-align: center;
}
.event section.top div h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #fff;
}
.event section.top div a{
  text-decoration: none;
  color: #fff;
  font-size: 19px;
}
.event section.top div span{
  color: #fff;
  opacity: .6;
  font-size: 19px;
}
.event .body{
  background-color: #FFF3EB;
}
.event section.date{
  background-image: url('../../asset/image/13.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding: 50px;
}
.event .date div.info{
  width: 37%;
  background-color: #fff;
  padding: 45px 13px 0px 13px;
  margin: 25px auto;
  border-radius: 80px;
  opacity: 0.94;
}
.event .date h4{
  color: #EF5874;
}

.event .info .time {
  display: flex;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  justify-content: center;
  padding: 0px 0px 20px 0px;
}
.event .info .time .unit {
  background-color: #FFF3EB;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 75px;
  transition: .3s;
}
.event .info .time .unit span {
  display: block;
  color: #00BEB0;
  transition: .3s;
}
.event .info .time .unit span:first-child {
  font-size: 30px;
  padding: 15px;
  font-weight: bold;
}
.event .info .time .unit span:last-child {
  padding: 8px 10px;
  font-size: 15px;
  border-top: 1px solid #d4d4d4;
}
.event .info .time .unit:hover,
.event .info .time .unit:hover span:last-child {
  border-color: #00BEB0;
}

@media (max-width: 768px) {
  .event .date div.info {
    width: 100%;
  }
}